.text-center{
    text-align: center;
}

.bg-red{
    background: red;
}
.mx-auto{
    margin:auto;
}
/* .m-w-20{
    max-width: 30vw;
} */

.flex{
    display:flex;
} 
.flex-col{
flex-direction: column;
}
.item-center{
    align-items: center;
}